*
{
    margin: 0px;
    padding: 0px;
    background-color: #e3e2df;
    font-family: 'Oxygen', sans-serif;
}
.content
{
    margin:40px;
    border: 0.5px solid ;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8622b;

}
.body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 500px;
    border:  3px solid #14a66c;
    margin:5px;
    padding: 20px;
    border-radius: 30px;
    background-color: #ffe400;
}
.rows
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;

}
.cont1
{
    box-sizing: border-box;
    font-size: 40px;
    height: 120px;
    width: 500px;
    border: 2px  SOLID #14a66c;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}
.cont2
{
    
    height: 500px;
    border-radius: 30px;
    padding: 10px;
    width: 500px;
    background-color: #ffe400;

}
.rows
{
    background-color: #ffe400;

}
.buttons
{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid #15ac70;
    padding: 10px;
    width: 25%;
    background-color: #10d874;
}
.buttons:hover{
    background-color: #15ac70;
}
.zero
{
    width: 33%;
}
.deci
{
    width: 33%;
}
.equals
{
    width: 33%;
}