*
{
    margin: 0px;
    padding: 0px;
    background-color: #f1ede2b4;
    font-family: 'Oxygen', sans-serif;
}
.content
{
    margin:40px;
    border: 0.5px solid ;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c55863d2;

}

.body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 500px;
    border:  3px solid #08080800;
    margin:5px;
    padding: 20px;
    border-radius: 30px;
    background-color:rgba(112,120,127,255);
}
.rows
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;

}
.cont1
{
    box-sizing: border-box;
    font-size: 40px;
    height: 120px;
    width: 500px;
    border: 2px  SOLID #14a66c;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}
.cont2
{
    
    height: 500px;
    border-radius: 30px;
    padding: 10px;
    width: 500px;
    background-color:rgba(112,120,127,255);

}
.rows
{
    background-color:rgba(112,120,127,255);

}
.buttons
{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid #15ac70;
    color: #e3e2df;
    padding: 10px;
    width: 25%;
    background-color: black;
}
.buttons:hover{
    background-color: #169c67;
}
.zero
{
    width: 33%;
}
.deci
{
    width: 33%;
}
.equals
{
    width: 33%;
}
.AC{
    background-color: rgb(236, 17, 17);
    border-color: red;
}
.AC:hover
{
    background-color: #cf0e21d2;
}
.equals
{
    
}